<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
  <add name="TE3ERCGSyncEntities" connectionString="metadata=res://*/Datasource.TE3ERCGSyncModel.csdl|res://*/Datasource.TE3ERCGSyncModel.ssdl|res://*/Datasource.TE3ERCGSyncModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=TE_3E_RCG_SYNC;persist security info=True;user id=rcgapi;password=rcgapi;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="TE3ERCGSYNCPRODEntities" connectionString="metadata=res://*/Datasource.TE3ERCGSYNCPRODModel.csdl|res://*/Datasource.TE3ERCGSYNCPRODModel.ssdl|res://*/Datasource.TE3ERCGSYNCPRODModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL09.RIMKUS.NET;initial catalog=TE_3E_RCG_SYNC;persist security info=True;user id=rcgapi;password=rcgapi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGAMZN_PROD01Entities" connectionString="metadata=res://*/Datasource.RCGAMZN_PROD01Model.csdl|res://*/Datasource.RCGAMZN_PROD01Model.ssdl|res://*/Datasource.RCGAMZN_PROD01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL15.RIMKUS.NET;initial catalog=RCGAMZN_PROD01;user id=rcgamzn;password=rcgamzn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGAMZN_DEV01Entities" connectionString="metadata=res://*/Datasource.RCGAMZN_DEV01Model.csdl|res://*/Datasource.RCGAMZN_DEV01Model.ssdl|res://*/Datasource.RCGAMZN_DEV01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=RCGAMZN_DEV01;persist security info=True;user id=rcgamzn;password=rcgamzn;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGKENTCMS_DEV01Entities" connectionString="metadata=res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_DEV01Model.csdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_DEV01Model.ssdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_DEV01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=RCGKENTCMS_DEV01;persist security info=True;user id=rcgkentcmsadmin;password=rcgkentcms;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGCLAIMS_DEV01Entities" connectionString="metadata=res://*/Datasource.RCGCLAIMS.RCGCLAIMS_DEV01Model.csdl|res://*/Datasource.RCGCLAIMS.RCGCLAIMS_DEV01Model.ssdl|res://*/Datasource.RCGCLAIMS.RCGCLAIMS_DEV01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=RCGCLAIMS_DEV01;persist security info=True;user id=rcgclaimsadmin;password=rcgclaims;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGDB_DEV01Entities" connectionString="metadata=res://*/Datasource.RCGCLAIMS.RCGDB_DEV01Model.csdl|res://*/Datasource.RCGCLAIMS.RCGDB_DEV01Model.ssdl|res://*/Datasource.RCGCLAIMS.RCGDB_DEV01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCG3ESQL31-D;initial catalog=rcg_db;user id=rcgweb;password=rcgweb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGCLAIMS_PROD01Entities" connectionString="metadata=res://*/Datasource.RCGCLAIMS.RCGCLAIMS_PROD01Model.csdl|res://*/Datasource.RCGCLAIMS.RCGCLAIMS_PROD01Model.ssdl|res://*/Datasource.RCGCLAIMS.RCGCLAIMS_PROD01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL15.rimkus.net;initial catalog=RCGCLAIMS_PROD01;persist security info=True;user id=rcgclaimsadmin;password=rcgclaims;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGDB_PROD01Entities" connectionString="metadata=res://*/Datasource.RCGCLAIMS.RCGDB_PROD01Model.csdl|res://*/Datasource.RCGCLAIMS.RCGDB_PROD01Model.ssdl|res://*/Datasource.RCGCLAIMS.RCGDB_PROD01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOUSERVERACC.RIMKUS.NET;initial catalog=rcg_db;persist security info=True;user id=rcgweb;password=rcgweb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGKENTCMS_UAT01Entities" connectionString="metadata=res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_UAT01Model.csdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_UAT01Model.ssdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_UAT01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=RCGKENTCMS_UAT01;user id=rcgkentcmsadmin;password=rcgkentcms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="UKGTE3E_DEV01Entities" connectionString="metadata=res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_DEV01.csdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_DEV01.ssdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_DEV01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL15;initial catalog=UKG_TE_3E_SYNC_DEV01;persist security info=True;user id=ukg3eadmin_dev;password=ukg3e1$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="UKGTE3E_UAT01Entities" connectionString="metadata=res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_UAT01.csdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_UAT01.ssdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_UAT01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL15;initial catalog=UKG_TE_3E_SYNC_UAT01;persist security info=True;user id=ukg3eadmin_dev;password=ukg3e1$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="UKGTE3E_PROD01Entities" connectionString="metadata=res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_PROD01.csdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_PROD01.ssdl|res://*/Datasource.UKGTE3E.DataModel.UKGTE3E_PROD01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL15;initial catalog=UKG_TE_3E_SYNC_PROD01;persist security info=True;user id=ukg3eadmin_prod;password=R1mKu$@dmI7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGKENTCMS_PROD01Entities" connectionString="metadata=res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_PROD01Model.csdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_PROD01Model.ssdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_PROD01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rcgsql15;initial catalog=RCGKENTCMS_PROD01;persist security info=True;user id=rcgkentcmsadmin;password=rcgkentcms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RCGKENTCMS_STAGING01Entities" connectionString="metadata=res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_STAGING01Model.csdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_STAGING01Model.ssdl|res://*/Datasource.RCGKENTCMS.DataModel.RCGKENTCMS_STAGING01Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RCGSQL06-D.RIMKUS.DEV;initial catalog=RCGKENTCMS_STAGING01;user id=rcgkentcmsadmin;password=rcgkentcms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="transactions.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %-22.22c{1}:%-30.30M{1} - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<logger additivity="false" name="TraceLogger">
			<level value="DEBUG" />
			<appender-ref ref="TraceLogger" />
		</logger>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.JsonPatch" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.8.0" newVersion="6.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>